<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="chassis_radius" value="0.15"/>
    <xacro:property name="chassis_height" value="0.067"/>

     <!-- measured diameter is 0.68 -->
    <xacro:property name="wheel_radius" value="0.034"/> 
    <xacro:property name="wheel_length" value="0.025"/>

    <xacro:property name="lidar_radius" value="0.035"/>
    <xacro:property name="lidar_length" value="0.024"/>

    <xacro:property name="caster_wheel_base_joint_length" value="0.13"/>
    <xacro:property name="caster_wheel_radius" value="0.006"/>

    <xacro:include filename="inertial_macros.xacro"/>
    <xacro:include filename="materials.xacro"/>
    <xacro:include filename="links.xacro"/>
    <xacro:include filename="joints.xacro"/>

</robot>